<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="app/css/main.css">
    <title>Dating</title>
  </head>
  <body>
    <header>
        <!--
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4> <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        -->
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Dating</strong>
          </a>
        </div>
      </div>
    </header>
    <div class="container">
        <div id="form">Search</div>
        <div id="candidate">Candidate</div>
        <div id="individual"></div>
    </div>

    <script type="text/template" id="form-template">
        <form class="form">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio1">Any&nbsp;</label>
              <input class="form-check-input" type="radio" name="gender" id="checkAny" value="any" checked>
           </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio2">Male&nbsp;</label>
              <input class="form-check-input" type="radio" name="gender" id="checkMale" value="male">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio3">Female&nbsp;</label>
              <input class="form-check-input" type="radio" name="gender" id="checkFemale" value="female">
            </div>
            <input class="btn btn-primary" type="submit" value="Filter">
        </form>
    </script>

    <script type="text/template" id="candidate-template">
        <div class="row"> 
        <% let i = 0; %>
        <% _.each(results, function(json) { %>
            <div class="col-3" style="margin-bottom:20px;">
                <img class="photos" id="img_<%= i %>" src="<%= json.picture.large %>" data-images="<%= i %>" />
                <% i += 1 %>
            </div>
        <% }); %>
        </div>
    </script>

    <script type="text/template" id="individual-template">
        <div><img src="<%= results.picture.large %>" /></div>
        <div>Name: <%= results.name.first.charAt(0).toUpperCase() + results.name.first.substr(1) %>&nbsp;<%= results.name.last.charAt(0).toUpperCase() + results.name.last.substr(1) %></div>
        <div>Gender: <%= results.gender.charAt(0).toUpperCase() + results.name.first.substr(1) %></div>
        <div>Street: <%= results.location.street.charAt(0).toUpperCase() + results.location.street.substr(1) %></div>
        <div>City: <%= results.location.city.charAt(0).toUpperCase() + results.location.street.substr(1)  %></div>
        <div>State: <%= results.location.state %></div>
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script data-main="app/main" src="node_modules/requirejs/require.js"></script>
  </body>
</html>

